@import 'normalize.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --scrollbar-body-light: lightgoldenrodyellow;
  --scrollbar-thumb-light: rgb(215, 159, 63);
  --scrollbar-track-light: rgba(250, 250, 210, 0.5);
  --scrollbar-body-dark: rgb(31, 38, 75);
  --scrollbar-thumb-dark: rgb(26, 29, 39);
  --scrollbar-track-dark: rgba(64, 81, 127, 0.5);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgoldenrodyellow;
  transition: all 300ms ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skrB::-webkit-scrollbar {
  width: 8px;
}

.skrB::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollbar-thumb-light);
  transition: all 300ms ease-in-out;
}

.skrB::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--scrollbar-track-light);
  transition: all 300ms ease-in-out;
}
/* .colors {
        shadowBox: rgb(173, 124, 39);
        lightPartsColor: lightgoldenrodyellow;
        darkFont: rgb(114, 76, 9);

        shadowBoxDark: rgb(33, 85, 164);
        lightPartsColorDark: rgb(7, 33, 78);
        darkFontDark: rgb(204, 222, 255);

        gradientColor1: wheat;
        gradientColor2: rgb(245, 187, 86);
        smallWraperGradient1: rgb(241, 226, 199);
        smallWraperGradient2: rgb(245, 209, 147);

        gradientColor1Dark: rgb(20, 19, 27);
        gradientColor2Dark: rgb(61, 81, 216);
        smallWraperGradient1Dark: rgb(34, 54, 101);
        smallWraperGradient2Dark: rgb(4, 9, 42);

        buttonColor: rgb(215, 159, 63);
        buttonHoverColor: rgb(190, 142, 60);
        buttonShadowBox: rgb(121, 85, 23);
        buttonTextColor: lightgoldenrodyellow;

        buttonColorDark: rgb(14, 68, 115);
        buttonHoverColorDark: rgb(45, 125, 196);
        buttonShadowBoxDark: rgb(215, 225, 240);
        buttonTextColorDark: rgb(176, 198, 238);

        errorMsg: orangered;
        deleteBtnColor: rgba(140, 3, 3, 0.4);
        deleteBtnHoverColor: rgba(140, 3, 3, 0.85);

        errorMsgDark: rgb(120, 217, 255);
        deleteBtnColorDark: rgba(203, 6, 6, 0.4);
        deleteBtnHoverColorDark: rgba(237, 15, 15, 0.85);

        tableHeaderBackground: 'rgb(245, 209, 147)',
        tableBorderColor: 'rgb(245, 209, 147)'

        tableHeaderBackgroundDark: rgb(0, 3, 22);
        tableBorderColorDark: rgb(0, 3, 22);

        filterLabelColor: rgb(245, 187, 86);
        filterPlaceholderColor: darkred;
        filterTextColor: rgb(114, 76, 9);

        filterLabelColorDark: rgb(2, 13, 84);
        filterPlaceholderColorDark: rgb(115, 201, 255);
        filterTextColorDark: rgb(176, 198, 238);
      }, */
